
 .contactForm {
    padding: 20px;
    text-align: center;
    margin: 20px;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
  }
  
  .contactForm input, .contactForm textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  .title{
    margin: 10px;
    list-style-type: none;
    padding: 0;
    background-image: linear-gradient(48deg, #3023ae, #ff0099);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
  }

  .input{
    border-radius: 10px;
    background-color: transparent;
    color: blueviolet;
    
  }
  
  .contactForm button {
    padding: 10px 20px;
  }
  
  .successMessage {
    color: rgb(4, 192, 4);
    margin: 10px;
  }

  .button{
    border-radius: 10px;
    color: white;
    background-color: blueviolet;

  }
  
  @media (max-width: 700px) {
    .contactForm {
      padding: 10px;
    }
  
    .contactForm input, .contactForm textarea {
      padding: 8px;
      margin: 8px 0;
    }
  
    .contactForm button {
      padding: 8px 16px;
    }
  } 


  