

.header {
    margin: 0;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: black;
  }
.title{
  margin: 10px;
  list-style-type: none;
  padding: 0;
  background-image: linear-gradient(48deg, #3023ae, #ff0099);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent; 
}
  
  .profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  
  @media (max-width: 700px) {
    .profileImage {
      width: 100px;
      height: 100px;
    }
  } 